/* Hacer que el body ocupe toda la altura de la pantalla */
body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Asegurar que el contenedor principal ocupe todo el espacio disponible */
.container {
    flex: 1; /* Ocupa el espacio restante y empuja el footer hacia abajo */
    padding: 20px;
}

footer {
    background: linear-gradient(90deg, #4A90E2, #904EE2) !important;
    min-height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center; /* Centra el texto horizontalmente */
    padding: 10px 0; /* Añadir algo de padding para evitar cortes */
    color: white; /* Asegurar contraste con el fondo */
}
